*~
*.o
*.mod
*.MOD
Input
bin
*.log
work/GRIDDESC
work/logdir/
src/EMPROC/emproc
src/EMPROC/makecombo
src/IOAPI2UAM/ioapi2uam
src/MET2MGN/met2mgn
*_old
src/MGN2MECH/mgn2mech
src/MGN2MECH/mgn2mech.wmap
src/MGN2MECH/mgn2mech.womap
src/TXT2IOAPI/txt2ioapi

